<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <h1>
        {{>header}}
    </h1>
    Created By: {{author}}
</body>

</html>